<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header}}
    <title>Edit Task</title>
</head>
<body>
    {{> _navbar}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12 mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home/tasks">Tasks</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Task</li>
                    </ol>
                </nav>
                {{> _messages}}

                <div id="deleteAlert" class="alert alert-danger alert-dismissible fade show text-center" role="alert"> 
                   Do you want to remove <strong> "{{task.title}}"</strong> ? 
                    <div class="mt-3">
                        <a id="deleteBtn" data-id="{{task._id}}" href="#" class="btn btn-sm btn-primary mt-0"><strong>YES</strong></a>
                        <a id="deleteCancelBtn" href="#" class="btn btn-sm btn-danger mt-0"><strong>NO</strong></a>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <div class="float-right">
                            <div class="form-check">
                                {{#if task.completed}}
                                    <input id="completed" class="form-check-input" name="completed" value="true" type="checkbox" id="completed" checked disabled>
                                {{else}}
                                    <input id="completed" class="form-check-input" name="completed" value="false" type="checkbox" id="completed">
                                {{/if}}
                            
                                <label class="form-check-label" for="completed"><strong>Completed</strong></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Title:</label>
                        {{#if task.completed}}
                            <input type="text" id="title" name="title" value="{{task.title}}" class="form-control" disabled>
                        {{else}}
                            <input type="text" id="title" name="title" value="{{task.title}}" class="form-control">
                        {{/if}}
                       
                    </div>
                    <div class="form-group">
                        <label for="desctiption">Description:</label>
                        {{#if task.completed}}
                            <textarea name="description" id="description" rows="4" class="form-control" disabled>{{task.description}}</textarea>
                        {{else}}
                            <textarea name="description" id="description" rows="4" class="form-control">{{task.description}}</textarea>
                        {{/if}}
                    </div>
                    <div class="form-group mt-4">
                        {{> _loading}}
                         {{#if task.completed}}
                            <button class="btn btn-primary btn-primary btn-block" disabled>Update Task</button>
                        {{else}}
                            <button id="updateBtn" data-id="{{task._id}}" class="btn btn-primary btn-primary btn-block">Update Task</button>
                        {{/if}}

                        <button id="showDeleteModal" class="btn btn-danger btn-block mt-0">Delete Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{> _footer}}
</body>
</html>