<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 form-m">
        <h4 class="text-center text-primary mb-5">Task Manager App</h4>

        {{> errors}}

        <form action="/sign-up" method="POST" id="form-signup" class="text-center">
        <div class="md-form">
            <input type="text" name="name" value="{{name}}" id="name" class="form-control" required>
            <label for="name">Full Name:</label>
          </div>
          <div class="md-form">
            <input type="email" name="email" value="{{email}}" id="email" class="form-control" required>
            <label for="email">E-mail</label>
            <div class="email-error"></div>
          </div>
          <div class="md-form">
            <input type="password" name="password" value="{{password}}" id="password" class="form-control" required>
            <label for="password">Password</label>
            <div class="password-error"></div>
          </div>
            <div class="md-form">
            <input type="password" name="confirm_password" value="{{confirm_password}}" id="confirm-password" class="form-control" required>
            <label for="confirm-password">Confirm Password</label>
          </div>
          <button class="btn btn-info btn-block my-4 waves-effect z-depth-0" type="submit">Sign Up</button>
          <p><a href="/">Sign In</a></p>
        </form>
      </div>
    </div>
  </div>
  {{> footer}}
</body>
</html>