<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header}}
    <title>{{title}}</title>
</head>
<body>
    {{> _navbar}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12">
              {{> _messages }}
              <h4>All Tasks</h4>

              {{#if tasks}}
                  {{#each tasks}}
                     <div class="card mb-1">
                        <div class="card-body">
                            <div class="float-right"><a href="/home/edit-task/{{_id}}"><i class="fa fa-edit"></i></a></div>
                            <h5><a href="/home/edit-task/{{_id}}">{{title}}</a></h5>
                            <div>{{description}}</div>
                            <small>{{cretaed_at}}</small>
                        </div>
                     </div>
                  {{/each}}
              {{/if}}

            </div>
        </div>
    </div>
  {{> _footer}}
</body>
</html> 