<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header}}
    <title>{{title}}</title>
</head>
<body>
    {{> _navbar}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12 mb-5">
                <div class="float-right">
                    <a href="/home/create-task" class="title-tm"> <i class="fa fa-plus"></i> <strong>Create Task</strong></a></button>
                </div>
                <div><h4>All Tasks</h4></div>
                {{> _messages}}
                <hr/>
                {{#if tasks}}
                    {{#each tasks}}
                        <div class="card mb-2 card-tasks">
                            <a href="/home/edit-task/{{_id}}">
                                <div class="card-body">
                                    <div class="float-right">
                                        {{#if completed}}
                                            <span class="badge badge-success">Completed</span>
                                        {{else}}
                                            <span class="badge badge-light">Pending</span>
                                        {{/if}}
                                    </div>
                                    <div class="text-task">{{title}}</div>
                                    <div class="text-date">{{created_at}}</div>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
                        You Don't have any Tasks yet.
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{> _footer}}
</body>
</html> 