<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header}}
    <title>{{title}}</title>
</head>
<body>
    {{> _navbar}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
              <div id="success_msg"></div>
              <h4>All Tasks</h4>
                {{> _messages}}
                {{#if tasks}}
                    {{#each tasks}}
                        <div class="card mb-1">
                            <div class="card-body">
                                <div class="float-right"><a href="/home/edit-task/{{_id}}"><i class="fa fa-edit"></i></a></div>
                                <h5><a href="/home/edit-task/{{_id}}">{{title}}</a></h5>
                                <div>{{description}}</div>
                                <small></small>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
                            You Don't have any Tasks yet. <a href="/home/create-task"><strong> Click Here.</strong></a>
                        </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{> _footer}}
</body>
</html> 